.tab-item-post-area{
    line-height: 50px;
    font-size: 20px;
    border-right: 1px solid black;
    width: 200px;
}
.tab-text-display{
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
}